<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='app/assets/stylesheets/styles.css'>
  </head>
  <body>
    <div class='welcome'>
      <h1>About RESTaurant</h1>
      <p>
        <strong>RESTaurant</strong> is yet another <a href='https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller' target='_blank'>MVC</a> framework for building
        <a href='https://en.wikipedia.org/wiki/Representational_state_transfer' target='_blank'>REST</a> web applications with PHP. It is strongly inspired by
        <a href='https://rubyonrails.org/' target='_blank'>Ruby on Rails</a>, and its main purpose is to help new developers understand how an MVC framework works, and what a
        REST application is.
      </p>
      <small><a href='/'>Back</a></small>
    </div>
  </body>
</html>